# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# binary
smoothie-go
smoothie-go-*
*.msi
*.exe
*.rpm
*.deb

# Unfinished installer creation scripts
build_msi.ps1
make_installer.sh

# dump
dev_dump*

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

build_downloads
build_temp

resources/vapoursynth/*.so

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# python
__pycache__
.venv/

# macOS
.DS_Store

# core dumps
core.vspipe*
